.topo-sidebar {
    .status{
        font-size: 14px;
        color: #000000a6;
    }

    .titulo-sidebar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nome-produto {
            width: 70%;
            font-size: 23px;
            font-weight: 500;
            margin: 10px 0;
        }

        .icon {
            @include estilo-icon(25px, pointer);
        }
    }

    .avaliacao {
        color: #000000a6;
        font-size: 14px;
        display: flex;
        align-items: center;

        .icon {
            @include estilo-icon(75px, pointer);
            margin: 0 5px;
        }
    }

    .preco {
        font-size: 40px;
        margin-top: 15px;

        span {
            font-size: 17px;
            color: #000000a6;
        }
    }

    .preco-parcela {
        font-size: 18px;
        margin-bottom: 5px;

        span {
            font-size: 13px;
            color: #000000a6;
        }
    }
}

.centro-sidebar {
    margin: 20px 0;

    .chegada, .retirada, .devolucao {
        line-height: 20px;
        margin-bottom: 10px;

        .observacao {
            font-size: 14px;
            color: #c9c9c9;
        }
    }

    .estoque {
        .titulo {
            font-weight: bold;
            font-size: 15px;
            margin-bottom: 10px;
        }

        .quant {
            background-color: #f0f0f085;
            font-size: 14px;
            padding: 15px;
            border-radius: 8px;
            cursor: pointer;
        }
    }
}

.baixo-sidebar{
    .comprar {
        @include estilo-btn(#3483fa, #fff);
    }

    .add-carrinho {
        @include estilo-btn(#ededed, #3483fa);
    }

    .info-vendedor {
        margin: 15px 0;
        font-size: 14px;

        .nome-vendedor {
            color: #3483fa;
            cursor: pointer;
        }
    }
}